  <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>badgePage</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"  crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" crossorigin="anonymous">

  <link href="/css/badgePage.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(0, 145, 149) ;">
    <a href="/" class="navbar-left"><img id="logo" src="http://www.anlci.gouv.fr/var/anlci/storage/images/users/acteurs/irfa-est/211207-3-fre-FR/IRFA-EST_full_membre.jpg"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <%  if(!currentUser){ %>
          <%  } else { %>
            <li class="nav-item">
              <a class="nav-link" href="/secret">Mes Cours</a>
            </li>
            <%  } %>
          </ul>
          <div class="topnav">

           <input type="text" placeholder="Search..">
         </div> 
          <span class="navbar-text">
            <!-- <ul class="nav navbar-nav navbar-right" > -->

            <ul>

              <%  if(!currentUser){ %>
                <li><a href="/register"><span class="glyphicon glyphicon-user nav-item login"><i class="fas fa-user-plus"></i></span> Sign Up</a></li>
                <li><a href="/login"><span class="glyphicon glyphicon-log-in nav-item login"><i class="fas fa-user"></i></span> Login</a></li>
                <%  } else { %>
                  <li> <a href="#">Bonjour <%= currentUser.username%>!</a> </li>
                  <li> <a href="/logout">Logout</a> </li>
                  <%  } %>
                </ul>
              </span>
            </div>
          </nav>



          <div class="backImg">
            <p id="HomeText" >IrfaEst le centre de formation qu'il vous faut<br /> <span id="subHomeText">Profiter de notre nouveau systeme de formation a Badgs</span> </p>
            <a href="/register"><button type="button" class="btn btn-light homeBtn ">inscrivez vous ici !</button></a>
          </div>
        </div>
