
<div class="container">
  <div class="row">

    <h1 style="text-align: center;">Cree une nouvelle carte</h1>
    <div style="width:30%; margin: 25px auto;">

      <form action="/" method="POST">
        <div class="form-group">
          <input class="form-control" type="text" name="image" placeholder="image url">
        </div>

        <div class="form-group">
          <input class="form-control" type="text" name="titre" placeholder="titre">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="desc" placeholder="description">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="coursLien" placeholder="url du cours">
        </div>
        <div class="form-group">
          <button class="btn btn-lg btn-block btn-primary ">Envoyer!</button>
        </div>

    </form>
    <a href="/">Retour</a>
  </div>
  </div>

</div>
</div>
