<% include partials/header %>
<div class="container">
  <div class="row">
    <div class="newCardGlobal">


      <h1>Cree une nouvelle carte</h1>


      <form action="/" method="POST">
        <div class="form-group">
          <input class="form-control" type="text" name="image" required placeholder="image url">
        </div>

        <div class="form-group">
          <input class="form-control" type="text" name="titre" required placeholder="titre">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="desc" required placeholder="description">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="coursLien" requireds placeholder="url du cours">
        </div>
        <div class="form-group">
          <button class="btn btn-lg btn-block btn-primary ">Envoyer!</button>
        </div>

      </form>
      <a href="/">Retour</a>
    </div>
  </div>
</div>



<% include partials/footer %>
