.footer {
  position:relative;
  margin-bottom: 0;

}


body{
  font-family: 'Ubuntu', sans-serif;
  min-height: calc(100vh - 70px);
}


#logo{

  width: 47%;
}

.login{
  display: inline-block;
}
.backImg{
  background-image: url("../img/studying2.jpg");
  height: 561px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
#HomeText{
  padding-top: 148px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: bold;

}

#subHomeText{
  font-size: 20px;
}
.homeBtn{

}

.cart_global{
  padding: 20px;
}

.footer {

  left:0px;
  bottom:0px;
  height: 90px;
  width:100%;
  background-color: rgb(0, 145, 149) ;
}

#footer_title{

  margin-bottom: 0;
  text-align: center;
  color: rgb(255, 255, 255);
}

.sociaux_logos{
  text-align: center;
  margin: auto;
  font-size:42px;




}

.sociaux_logo{
  text-align: center;
  padding: 10px;
}

.newCardGlobal{
  padding-top: 40px;
  min-height: 800px;
  position: inherit;
  margin: auto;
}
